.palettemilitar .navbar-default .navbar-nav > li.active > a,
.palettemilitar .navbar-default .navbar-nav > li.active > a:hover,
.palettemilitar .navbar-default .navbar-nav > li.active > a:focus,
.palettemilitar .navbar-default .navbar-nav > li > a:hover {
  color: #637459;
}
.palettemilitar .title {
  color: #637459;
}
.palettemilitar .subtitle-text {
  color: #637459;
}
.palettemilitar .title.small {
  color: #637459;
}
.palettemilitar p.quote-post {
  color: #637459;
}
.palettemilitar .flickity-page-dots .dot.is-selected {
  background-color: #637459;
}
@media (min-width: 992px) {
  .palettemilitar .navbar-default .navbar-nav > li > a:before {
    background-color: #637459;
  }
}
.palettemilitar .navbar-default .navbar-toggle:hover .icon-bar,
.palettemilitar .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #637459;
}
.palettemilitar footer {
  background-color: #637459;
}
.palettemilitar .cssload-container > div {
  background: #637459;
}
.palettemilitar .btn.rounded {
  background-color: #637459;
}
.palettemilitar .btn.rounded.unactive {
  background-color: #B7B7B7;
  color: #7D7D7D;
}
.palettemilitar .btn.rounded.unactive i {
  color: #5A5A5A;
}
.palettemilitar .btn.rounded.border {
  background: transparent;
}
.palettemilitar .btn-invert:hover,
.palettemilitar .btn-invert:focus,
.palettemilitar .btn-invert:active,
.palettemilitar .btn-invert.active {
  background-color: #637459;
  border-color: #637459;
}
.palettemilitar .player.horizontal .audiojs .play-pause {
  background: #637459;
}
.palettemilitar .player.horizontal .audiojs .progress {
  background-color: #637459;
}
.palettemilitar .featured-artist .rollover .social a:hover {
  color: #637459;
}
.palettemilitar ul.contact i {
  color: #637459;
}
.palettemilitar .social-links a:hover {
  background-color: #637459;
  border-color: #637459;
}
.palettemilitar p.date {
  background-color: #637459;
}
.palettemilitar .quote {
  border: 10px solid #637459;
}
.palettemilitar .quote p.author {
  color: #637459;
}
.palettemilitar .quote p.author:before {
  background-color: #637459;
}
.palettemilitar .carousel-discography .gallery-cell .cover .rollover i {
  color: #637459;
}
.palettemilitar .info-album p.artist {
  color: #637459;
}
.palettemilitar ul.slider-twitter .flickity-page-dots .dot.is-selected {
  background-color: #637459;
}
.palettemilitar .last-media {
  border-top: 2px solid #637459;
}
.palettemilitar .last-media .filters li.is-checked {
  border-color: #637459;
}
.palettemilitar .player-album.inverse-color .disc-tracklist li:not(.playing) .track-info p.track-title {
  color: #637459;
}
.palettemilitar .disc-tracklist li .audiojs.playing {
  background-color: #637459;
}
.palettemilitar .disc-tracklist li.playing-track {
  background-color: #637459;
}
.palettemilitar .tour-info p.subtitle-tour {
  color: #637459;
}
.palettemilitar .tour-info .dates-tour li:hover {
  color: #637459;
}
.palettemilitar .tour-info .dates-tour li.active {
  background-color: #637459;
}
.palettemilitar .tour-info .dates-tour li.active:before {
  border-bottom: 13px solid #637459;
}
.palettemilitar .upcomming-events-list li p span {
  color: #637459;
}
@media (min-width: 768px) {
  .palettemilitar .upcomming-events-list li .date-event {
    border-left: 2px solid #637459;
  }
}
.palettemilitar .paginationposts .pagination > li:hover > a,
.palettemilitar .paginationposts .pagination > li.active > a,
.palettemilitar .paginationposts .pagination > li:hover > span,
.palettemilitar .paginationposts .pagination > li.active > span {
  background-color: #637459;
}
.palettemilitar .paginationposts.inverse-color .pagination > li:hover > a,
.palettemilitar .paginationposts.inverse-color .pagination > li.active > a,
.palettemilitar .paginationposts.inverse-color .pagination > li:hover > span,
.palettemilitar .paginationposts.inverse-color .pagination > li.active > span {
  background-color: #637459;
}
.palettemilitar .ecommercebar .cart-big .acctions .btn {
  background-color: #637459;
}
.palettemilitar .shop-item .cover[data-label]:before {
  background: #637459;
}
.palettemilitar .shop-item .info .rating {
  color: #637459;
}
.palettemilitar .shop-item .info .price {
  color: #637459;
}
.palettemilitar .shop-item .info .artist {
  color: #637459;
}
.palettemilitar .post-details .post-comments .media > .pull-left {
  background-color: #637459;
}
.palettemilitar .post-details .post-comments .media-body .reply {
  color: #637459;
}
.palettemilitar .sidebar .title.small i {
  color: #637459;
}
.palettemilitar .sidebar .search .input-group-btn i {
  color: #637459;
}
.palettemilitar .sidebar .menu-sidebar li.active {
  background-color: #637459;
}
.palettemilitar .sidebar .last-tweets .date,
.palettemilitar .sidebar .last-comments .date,
.palettemilitar .sidebar .last-posts-sidebar .date {
  color: #637459;
}
.palettemilitar .sidebar .list-tags li a:hover {
  background-color: #637459;
  border-color: #637459;
}
.palettemilitar .sidebar .last-tweets .tweet p a,
.palettemilitar .sidebar .last-comments .tweet p a {
  color: #637459;
}
.palettemilitar .carousel-discography .gallery-cell .cover .rollover,
.palettemilitar .last-media .thumbnails .thumbnail .rollover,
.palettemilitar .featured-artist .rollover {
  background-color: rgba(99, 116, 89, 0.9);
}
.palettemilitar .disc-tracklist li.playing a {
  background-color: #637459;
}
.palettemilitar .disc-tracklist li.playing a .track-info {
  border-color: #637459;
}
