.palettesilver .navbar-default .navbar-nav > li.active > a,
.palettesilver .navbar-default .navbar-nav > li.active > a:hover,
.palettesilver .navbar-default .navbar-nav > li.active > a:focus,
.palettesilver .navbar-default .navbar-nav > li > a:hover {
  color: #abcbce;
}
.palettesilver .title {
  color: #abcbce;
}
.palettesilver .subtitle-text {
  color: #abcbce;
}
.palettesilver .title.small {
  color: #abcbce;
}
.palettesilver p.quote-post {
  color: #abcbce;
}
.palettesilver .flickity-page-dots .dot.is-selected {
  background-color: #abcbce;
}
@media (min-width: 992px) {
  .palettesilver .navbar-default .navbar-nav > li > a:before {
    background-color: #abcbce;
  }
}
.palettesilver .navbar-default .navbar-toggle:hover .icon-bar,
.palettesilver .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #abcbce;
}
.palettesilver footer {
  background-color: #abcbce;
}
.palettesilver .cssload-container > div {
  background: #abcbce;
}
.palettesilver .btn.rounded {
  background-color: #abcbce;
}
.palettesilver .btn.rounded.unactive {
  background-color: #B7B7B7;
  color: #7D7D7D;
}
.palettesilver .btn.rounded.unactive i {
  color: #5A5A5A;
}
.palettesilver .btn.rounded.border {
  background: transparent;
}
.palettesilver .btn-invert:hover,
.palettesilver .btn-invert:focus,
.palettesilver .btn-invert:active,
.palettesilver .btn-invert.active {
  background-color: #abcbce;
  border-color: #abcbce;
}
.palettesilver .player.horizontal .audiojs .play-pause {
  background: #abcbce;
}
.palettesilver .player.horizontal .audiojs .progress {
  background-color: #abcbce;
}
.palettesilver .featured-artist .rollover .social a:hover {
  color: #abcbce;
}
.palettesilver ul.contact i {
  color: #abcbce;
}
.palettesilver .social-links a:hover {
  background-color: #abcbce;
  border-color: #abcbce;
}
.palettesilver p.date {
  background-color: #abcbce;
}
.palettesilver .quote {
  border: 10px solid #abcbce;
}
.palettesilver .quote p.author {
  color: #abcbce;
}
.palettesilver .quote p.author:before {
  background-color: #abcbce;
}
.palettesilver .carousel-discography .gallery-cell .cover .rollover i {
  color: #abcbce;
}
.palettesilver .info-album p.artist {
  color: #abcbce;
}
.palettesilver ul.slider-twitter .flickity-page-dots .dot.is-selected {
  background-color: #abcbce;
}
.palettesilver .last-media {
  border-top: 2px solid #abcbce;
}
.palettesilver .last-media .filters li.is-checked {
  border-color: #abcbce;
}
.palettesilver .player-album.inverse-color .disc-tracklist li:not(.playing) .track-info p.track-title {
  color: #abcbce;
}
.palettesilver .disc-tracklist li .audiojs.playing {
  background-color: #abcbce;
}
.palettesilver .disc-tracklist li.playing-track {
  background-color: #abcbce;
}
.palettesilver .tour-info p.subtitle-tour {
  color: #abcbce;
}
.palettesilver .tour-info .dates-tour li:hover {
  color: #abcbce;
}
.palettesilver .tour-info .dates-tour li.active {
  background-color: #abcbce;
}
.palettesilver .tour-info .dates-tour li.active:before {
  border-bottom: 13px solid #abcbce;
}
.palettesilver .upcomming-events-list li p span {
  color: #abcbce;
}
@media (min-width: 768px) {
  .palettesilver .upcomming-events-list li .date-event {
    border-left: 2px solid #abcbce;
  }
}
.palettesilver .paginationposts .pagination > li:hover > a,
.palettesilver .paginationposts .pagination > li.active > a,
.palettesilver .paginationposts .pagination > li:hover > span,
.palettesilver .paginationposts .pagination > li.active > span {
  background-color: #abcbce;
}
.palettesilver .paginationposts.inverse-color .pagination > li:hover > a,
.palettesilver .paginationposts.inverse-color .pagination > li.active > a,
.palettesilver .paginationposts.inverse-color .pagination > li:hover > span,
.palettesilver .paginationposts.inverse-color .pagination > li.active > span {
  background-color: #abcbce;
}
.palettesilver .ecommercebar .cart-big .acctions .btn {
  background-color: #abcbce;
}
.palettesilver .shop-item .cover[data-label]:before {
  background: #abcbce;
}
.palettesilver .shop-item .info .rating {
  color: #abcbce;
}
.palettesilver .shop-item .info .price {
  color: #abcbce;
}
.palettesilver .shop-item .info .artist {
  color: #abcbce;
}
.palettesilver .post-details .post-comments .media > .pull-left {
  background-color: #abcbce;
}
.palettesilver .post-details .post-comments .media-body .reply {
  color: #abcbce;
}
.palettesilver .sidebar .title.small i {
  color: #abcbce;
}
.palettesilver .sidebar .search .input-group-btn i {
  color: #abcbce;
}
.palettesilver .sidebar .menu-sidebar li.active {
  background-color: #abcbce;
}
.palettesilver .sidebar .last-tweets .date,
.palettesilver .sidebar .last-comments .date,
.palettesilver .sidebar .last-posts-sidebar .date {
  color: #abcbce;
}
.palettesilver .sidebar .list-tags li a:hover {
  background-color: #abcbce;
  border-color: #abcbce;
}
.palettesilver .sidebar .last-tweets .tweet p a,
.palettesilver .sidebar .last-comments .tweet p a {
  color: #abcbce;
}
.palettesilver .carousel-discography .gallery-cell .cover .rollover,
.palettesilver .last-media .thumbnails .thumbnail .rollover,
.palettesilver .featured-artist .rollover {
  background-color: rgba(171, 203, 206, 0.9);
}
.palettesilver .disc-tracklist li.playing a {
  background-color: #abcbce;
}
.palettesilver .disc-tracklist li.playing a .track-info {
  border-color: #abcbce;
}
